@model IEnumerable<MVC_ENTITY_CORE.Models.Company>
@{
}
<table class="table table-bordered">
    <tr>
        <th>name</th>
        
    </tr>
    @foreach (var create in Model)
    {
        <tr>
            <td>
                <a asp-action="CREATE" asp-controller="Company" class="btn btn-outline-danger">CREATE </a>

            </td>





        </tr>
    }

</table>